*{
    margin: 0px;
    padding: 0px;

	font-family: 'Poppins', sans-serif;
}

body {
	background: #EEF7FF;

  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #10275e;
	font-family: 'Poppins', sans-serif;

}

.logo{
    color: #FFFBEE;
    text-transform: 5px;
    font-size: 35px;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
list-style: none;

}
.nav-links a {
    color: #FFFBEE;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

.burger {
	display: none;
	cursor: pointer;

}
.burger div{
    width:25px;
    height:3px;
    background-color: #FFFBEE;
    margin:5px;

}


@media screen and (max-width:1024px){
	.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
}

}

@media screen and (max-width:1155px){
	body{
		overflow-x:hidden;

	}
	.nav-links{
    position: absolute;
	right: 0px;
	height: 80vh;
	top: 8vh;
	background-color: #10275e;
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 30%;
	transform:translateX(100%);
	transition: transform 0.5s ease-in;

	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display:block;
	}
}

.nav-active{

	transform:translateX(0%);
}

@keyframes navLinkFade{

	from{
		opacity: 0;
	}
	to{
		opacity: 1;

	}

}

.toggle .line1{

	transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{

	opacity: 0;
}
.toggle .line3{

	transform: rotate(45deg) translate(-5px,-6px);
}

/* Dark mode */
.fa-moon {
	color:#FFFBEE;
	font-size: 24px;
  }

  .switch {
	display: flex-end;

    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
	display: flex;
    justify-content: space-around;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 12px;
    width: 3.125rem;
	text-align: center;
	color:#FFFBEE;

}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #6e6e6e;
}
.dark textarea {
	background: #f1d556;
	color:rgb(43, 43, 43);
}


/* ------------------------------------- */

.mynotes{
	text-align: center;
}

.mynotes img
{
	width: 100%;
	height: auto;
}

.mynotes p
{
	margin-bottom: 20px;
}

.mynotes figcaption
{
	margin-top: 8px;
}



.addButton {
	width: 200px;
    display: block;
    margin: 20px auto 20px;
    padding: 22px;
    border: 3px solid  #597ddf;
    font-size: 25px;
    outline: 0;
    transition: 0.3s;
    cursor: pointer;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	box-sizing: content-box;

}

.addButton:hover{

	border-radius: 35px;
}

  .note {
	position: relative;
	padding-top: 5px;
	border-radius: 10px;
	background: #f1d556;
	min-height: 300px;
	min-width: 300px;
	left: 0;
	top: 0;
	border: 1px solid #ffe6b3;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 2px 2px 5px 2px rgb(76, 113, 124);


  }

	.note:hover {
	box-shadow: 3px 3px 7px 4px rgb(47, 89, 136);

	}


  .deleteButton {
	margin: 10px 10px;
	border: none;
	top: 30px;
	right: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-image: url('img/close.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	float: right;


  }

  .saveButton {
	margin: 10px 10px;
	border: none;
	top: 2px;
	left: 20px;
	bottom: 200px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-image: url('img/padlock.png');
	background-color: transparent;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	float: left;

  }

textarea {
	background: #f1d556;

	position: absolute;
	bottom: 10px;
	padding: 10px 10px;
	float:inline-end;
	box-sizing: border-box;
	min-height: 240px;
	width: 240px;
	left: 30px;
	border: none;
  }


  /*  kalndarz */

#calendar {
    position: sticky;
	margin: 40px auto;
	width: 1200px;
	height: 600;
  }

  /* plan */

  .myplan{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;

}
.mw-100 {
	min-width:100%;

}
.table-responsive{
	min-width:100%;
	min-height:100%;

}
.mh-100{
	min-height:100%;

}



 .myplan .space{
	margin-top: 20px;
  }

  .myplan table, td, tr{
	border: 1px solid #6c7181;

  }
  .myplan table{

	height:600px;

	 table-layout: fixed;
  }


  h3 {
	width: 300px;
    display: block;
    margin: 0 auto 20px;
    padding: 10px 32px;
    font-size: 34px;
	transition: all 0.3s;
	font-family: 'Poppins', sans-serif;
	color:#10275e;

}

.subInput{

	border:none;
	width: 145px;
	height: 50px;
	color:transparent;


}

/* contacts */

h1{
	font-size:1.2em;
	text-align:center;
  }

  .panel{
	background:#ffe6b3;
	padding:1em;
	width:92.5%;
	margin:auto;
	max-width:30em;
  }

  input{
	width:100%;
	box-sizing:border-box;
	font-size:1em;
	margin-top:0.5em;
	padding:0.5em;
  }

  input:focus{
	outline:none;
  }

  input::after{
	width:100%;
	height:10px;
  }

  .naviList{
	width:92.5%;
	max-width:30em;
	text-align:center;
	margin:auto;
  }

  .naviList li{
	list-style:none;
	display:inline-block;
	  background: #47aad9;
	  padding:0.7em;
	  margin:0 0.1em;


  }

  .naviList li .active{

	background-color:rgba(256,256,256,0.95);
  }